/************************* STRUCTURE *************************/
html {
    height: 100%;
    cursor: url('/assets/img/leaf.gif'), auto;
}
html body{
    height: 100%;
    overflow-y: scroll;
    padding: .1em .5em;
}
html body .fixed-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container {
    position: fixed;
    top: 1em;
    left: 1em;
    min-width: 200px;
    text-align: center;
}
.response-container {
    text-align: center;
}


/************************* FONTS *************************/
.text-giant {
    font-size: 15em;
}
.text-big {
    font-size: 3.5em;
}
.text-medium {
    font-size: 2em;
}
/* lg */
@media only screen and (max-width: 1200px){
    .text-giant {
        font-size: 13em;
    }
    .text-big {
        font-size: 3em;
    }
    .text-medium {
        font-size: 1.5em;
    }
}
/* md */
@media only screen and (max-width: 992px) {
    .text-giant {
        font-size: 10em;
    }
    .text-big {
        font-size: 2.5em;
    }
    .text-medium {
        font-size: 1em;
    }

}
/* sm */
@media only screen and (max-width: 768px) { 
    .text-giant {
        font-size: 6em;
    }
    .text-big {
        font-size: 2em;
    }
    .text-medium {
        font-size: 0.8em;
    }

}
/* xs */
@media only screen and (max-width: 480px) { 
    .text-giant {
        font-size: 4em;
    }
    .text-big {
        font-size: 1.5em;
    }
}
@font-face {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Neucha-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/PatrickHandSC-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/************************* PLANT *************************/

.plant {
  width: 5rem;
  height: 4rem;
  position: fixed;
  bottom: 0;
  right: 8%;
  --plant-color: #67B57D;
  --plant-color-light: #6FC688;
  --plant-color-lighter: #7CD392;


}

.plant::after, 
.plant::before {
  content: '';
  position: absolute;
}

.plant::after {
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
  bottom: 0;
  left: 0;
  background-color: #C15E2E;
}


.plant-leaves {
  width: 40%;
  padding-top: 100%;
  border-radius: 100%;
  background-color: var(--plant-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
}

.plant-leaves::after,
.plant-leaves::before {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  content: '';
  position: absolute;
  top: 0;
}

.plant-leaves::before {
  background-color: var(--plant-color-light);
  left: -40%;
  transform: rotate(-40deg);
  animation: plant-left 3s ease infinite;
}

.plant-leaves::after {
  background-color: var(--plant-color-lighter);
  left: 40%;
  transform: rotate(40deg);
  animation: plant-right 3s ease infinite;
}



@keyframes plant-right {
	0% { transform: rotate(40deg) }
	50% { transform: rotate(50deg) }
	100% { transform: rotate(40deg) }
}

@keyframes plant-left {
	0% { transform: rotate(-40deg) }
	50% { transform: rotate(-50deg) }
	100% { transform: rotate(-40deg) }
}
